@import 'mixin';

// rem适配
@mixin rem($w: 750, $max: 1440, $min: 320) {

    body {
        font-size: .12rem;
    }

    @for $px from floor($min/10) through floor($max/10) {
        @if($px==floor($min/10)) {

            // 最小像素适配
            @include max_w($min + px) {
                html {
                    min-width: $min + px;
                    font-size: round($min / $w * 100) + px;
                }
            }
        }

        @else if($px==floor($max/10)) {

            // 最大像素适配
            @include min_w($max + px) {
                html {
                    max-width: $max + px;
                    margin: 0 auto;
                    font-size: round($max / $w * 100) + px;
                }
            }
        }

        @include math_minWidth($px*10px, $w);
    }
}

// 弹性盒子模型适配
@mixin fb {

    .f,
    body {
        display: flex;
    }

    .fc {
        @include flexColumn;
    }

    @include createSameBegin('f', (flex: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 1)), 12) {
        font-size: 16px;
    }

    .f-header {
        @include flexCentent;

    }
}