@import '../../mixins/mixin';

%fc {
    @include flexCenter;
}

$w: 1121px;

.header {
    flex: 0 0 90px;
    height: 90px;
    background: linear-gradient(90deg, #668fdf, #a277ea, #ab71d8);

    .nav {
        flex: 1;
        @extend %fc;
        justify-content: flex-end;

        .nav-list {
            @extend %fc;

            .space {
                @include bgc_opacityBox(#fff, 0.5, 1px, 16px);
                margin: 0 20px;
            }

            a {
                @include cfz_fw(#fff, 18px, 500);

                &:hover {
                    opacity: 0.5;
                }
            }

        }
    }

    h1 {
        flex: 1;
        @extend %fc;
        justify-content: flex-start;
    }
}

.logo {
    $w: 172px;
    $h: 50px;
    @include createBox($w, $h);
    @include bg_sizeBg('../images/other/logo.png', $w, $h);
}

.container {
    position: relative;
    @extend %fc;
    @include autoBox($w, 100%);
    z-index: 2;
}